.pack {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 50px;
}

.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: #529e8a;
  color: var(--green);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
}

.heading span.space {
  background: none;
}
@media only screen and (max-width: 688px) {
  .heading {
    display: none;
  }
  .pack {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 50px;
  }

  .heading {
    overflow: hidden;
    font-size: 5px;
    background: #529e8a;
    color: var(--green);
    border-radius: 20px;
    padding: 2px 5px;
  }
}
@media only screen and (min-width: 689px) and (max-width: 991px) {
  .heading s {
    overflow: hidden;
  }
}
